beautifulsoup4==4.12.3
bertopic==0.16.4
EbookLib==0.18
interfaces==0.0.4
nltk==3.9.1
numpy==1.24.3
pandas==2.2.3
PyPDF2==3.0.1
python-dotenv==1.0.1
python-docx==1.1.2
python-pptx==1.0.2
PyYAML==6.0.2
qdrant-client==1.12.1
scikit-learn==1.5.2
sentence-transformers==3.1.0
streamlit==1.39.0
torch==2.4.1
transformers==4.44.2
keybert
fuzzyhashlib
ppdeep
